---
layout: default
title: Topics
---

{% set topics = topics.topics %}

<div x-data="topics" x-init="init">
    <div class="min-h-[750px] flex items-end" style="background: url({{ topicsIndex.hero | replace('/src', '') }}); background-size: cover; background-position: center;">
        <div class="mx-auto w-full">
            <div class="max-w-screen-lg py-24 bg-[rgba(181,14,26,0.8)] pl-[10%]">
                <h1 class="text-7xl font-bold text-white">{{ topicsIndex.title }}</h1>
            </div>
        </div>
    </div>
    <div class="hidden md:block mx-auto px-8 md:px-[10%]">
        <nav class="flex py-8" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="/" class="font-medium text-navy hover:underline">Home</a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center gap-2">
                        <span>/</span>
                        <strong class="text-navy hover:underline font-bold">All Topics</strong>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <div class="md:block mx-auto px-8 md:px-[10%] mb-24">
    <form class="flex gap-2">
        <input class="placeholder-black border-b-2 border-black w-full p-4" type="text" x-model="search" placeholder="Search Topics...">
        <button class="font-sans bg-primary text-white font-bold px-12" @click="searchTopics">Search</button>
    </form>
    </div>
    <div class="md:block mx-auto px-8 md:px-[10%]">
    <div>
        <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
            <template x-for="topic in filteredTopics" :key="topic.title">
                <li>
                    <a class="text-[21px] text-navy hover:underline h-[220px] bg-[#F4B413] block p-8 pt-12 text-center font-bold flex flex-col" :href="'/topics/' + topic.title">
                        <span class="flex-grow" x-text="topic.hero.title"></span>
                        <span class="mx-auto"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="27" fill="none"><path fill="#000" stroke="#000" d="M1.32 22.326h-.001a2.353 2.353 0 0 0 0 3.306v.001a2.323 2.323 0 0 0 3.294 0l10.435-10.505a2.353 2.353 0 0 0 0-3.306L4.613 1.315a2.323 2.323 0 0 0-3.293 0h-.001a2.353 2.353 0 0 0 0 3.306l8.799 8.856-8.798 8.848Z"/></svg></span>
                    </a>
                </li>
            </template>
        </ul>
    </div>
    </div>
    <script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('topics', () => ({
        search: '',
        Topics: [],
        init() {
            this.topics = {{ topics | dump | safe }};
        },
        searchTopics() {
            window.location.href = '?q=' + this.search;
        },
        get filteredTopics() {
            if (!this.search) {
            return this.topics.sort((a, b) => a.hero.title.localeCompare(b.hero.title));
            }

            console.log(this.search)
            return this.topics.filter(project =>
            Object.values(project).some(value =>
                String(value).toLowerCase().includes(this.search.toLowerCase())
            )
            ).sort((a, b) => a.hero.title.localeCompare(b.hero.title));
        }
        }));
    });
    </script>
</div>



