---
layout: default
pagination:
  data: projects.projects
  size: 1
  alias: project
permalink: "/projects/{{ project.title }}/"
---

<div class="min-h-[400px] bg-primary">
    <div class="mx-auto px-8 md:px-[10%]">
        <div class="max-w-screen-lg py-24">
            <h1 class="text-7xl font-bold text-white">{{ project.heading }}</h1>
        </div>
    </div>
</div>
<div class="hidden md:block mx-auto px-8 md:px-[10%]">
    <nav class="flex py-8" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="/" class="font-medium text-navy hover:underline">Home</a>
            </li>
            <li>
                <div class="flex items-center gap-2">
                    <span>/</span>
                    <a href="/projects" class="font-medium text-navy hover:underline">Projects</a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center gap-2">
                    <span>/</span>
                    <strong class="text-navy hover:underline font-bold">{{ project.heading }}</strong>
                </div>
            </li>
        </ol>
    </nav>
</div>
<div class="flex flex-col md:flex-row gap-12">
    <div class="bg-navy py-4 px-8 md:pl-[10%] sticky md:self-start">
        <div class="w-[210px]">
            <div class="font-bold text-3xl text-white mb-2">On this page</div>
            <ul class="flex flex-col gap-2">
                <li><a class="text-lg underline text-white" href="#about">{{ project.aboutTitle }}</a></li>
                <li><a class="text-lg underline text-white" href="#doing">{{ project.whoTitle }}</a></li>
            </ul>
        </div>
    </div>
    <div class="w-full px-8">
        <div class="md:pr-[10%] md:pl-0 prose prose-xl max-w-none">
            {% if project.about %}
                <div class="mb-12">
                    <h2 id="about" class="text-4xl font-bold mb-8 mt-0">
                        <span class="border-b-[6px] border-primary pb-2">{{ project.aboutTitle }}</span>
                    </h2>
                    {{ project.about | markdown | safe }}
                </div>
            {% endif %}
            <div class="mb-12">
                {%if project.whoTitle %}
                    <h2 id="why" class="text-4xl font-bold mb-8 mt-0">
                        <span class="border-b-[6px] border-primary pb-2">{{ project.whoTitle }}</span>
                    </h2>
                {% endif %}
                {%if project.who.image %}
                    <img src="{{ project.who.image }}" />
                {% endif %}
                {%if project.who.authorities %}
                    <div>
                        {% if project.who.authorities %}
                            <ul>
                                {% for authority in project.who.authorities %}
                                    <li>{{ authority }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}
                {%if project.who.what %}
                    <div>
                        {{ project.who.what | markdown | safe }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>